 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

 * { 
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
     color: #E7F6F2;
 }

 h1{
    text-align: center;
    margin-left: 7%;
    font-size: 1.4rem;
 }
p{
    text-align: center;
    margin-left: 7%;
}
 h2{
    text-align: center;
 }
body{
    background-color: #2C3639; 
    color: #E7F6F2;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    margin: 0;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility

}
.Links{
    text-decoration: none;
    text-decoration: underline;
    color: #A5C9CA
}
.Links:hover{
    color: #395B64
}
footer{
    background-color:rgba(0,0,0,.25);;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    margin-bottom: 0;
    text-align:center;
    padding: 0.5rem;
}


.mystyle {
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;
    background-color: red;
}
th,td{
    border: 1px solid rgba(0,0,0,.5);
    padding: 7px;
    
}
img{
    position: relative;
    top:10%
}

.TItulo{
    color: #E7F6F2;

}
.GraphCont{
    margin-left: auto;

}
#T_8b91d{
    margin-left: 18vw;
}
.Cen{
    text-align: center;
    display: flex;
    align-items: center;
    ;

    
    
    /* -1/2 width */
    margin-top: -10px;
    /* -1/2 height */
}
.LEFT{
    margin-top:-42;
    height: 95%;
    position: absolute;
    background-color: white;
}